[Unit]
Description=DigiHealth Lamp Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/digihealth-lamp
Environment="PATH=/home/pi/digihealth-lamp/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/pi/digihealth-lamp/venv/bin/python3 -m digihealth.main
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
# Log file is now in user home directory, no special permissions needed

[Install]
WantedBy=multi-user.target